<!--<p>vehicle-search-form works!</p>-->
<h1 id="tableLabel">Vehicles</h1>

<p *ngIf="!vehicles"><em>Loading...</em></p>
<!--<input type="text" [(ngModel)]="searchTerm" name="searchTerm" placeholder="Search">-->
<div class="container">
  <div>
    <form (ngSubmit)="onSubmit(vehicleForm)" #vehicleForm="ngForm">
      <div class="form-group">
        <label for="year">Year</label>
        <select class="form-control" id="year" name="year" [(ngModel)]="model.year" required>
          <option *ngFor="let yearitem of yearOptions" [value]="yearitem">{{yearitem}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="make">Make</label>
        <select class="form-control" id="make" name="make" [(ngModel)]="model.make" required>
          <option *ngFor="let makeitem of makeOptions" [value]="makeitem">{{makeitem}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="color">Color</label>
        <select class="form-control" id="color" name="color" [(ngModel)]="model.color" required>
          <option *ngFor="let coloritem of colorOptions" [value]="coloritem">{{coloritem}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="mileage">Mileage</label>
        <select class="form-control" id="mileage" name="mileage" [(ngModel)]="model.mileage" required>
          <option *ngFor="let mileageitem of mileageOptions" [value]="mileageitem">{{mileageitem}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="sunroof">Sun Roof</label>
        <select class="form-control" id="sunroof" name="sunroof" [(ngModel)]="model.sunRoof" required>
          <option *ngFor="let sunroofitem of sunRoofOptions" [value]="sunroofitem" [selected]="sunroofitem.name == '--All--'">{{sunroofitem}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="fwd">Four Wheel Drive</label>
        <select class="form-control" id="fwd" name="fwd" [(ngModel)]="model.fourWheelDrive" required>
          <option *ngFor="let fwditem of fWDOptions" [value]="fwditem" [selected]="fwditem.name == '--All--'">{{fwditem}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="lowmiles">Low Miles</label>
        <select class="form-control" id="lowmiles" name="lowmiles" [(ngModel)]="model.lowMiles" required>
          <option *ngFor="let lowmilesitem of lowMilesOptions" [value]="lowmilesitem" [selected]="lowmilesitem.name == '--All--'">{{lowmilesitem}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="pwindows">Power Windows</label>
        <select class="form-control" id="pwindows" name="pwindows" [(ngModel)]="model.powerWindows" required>
          <option *ngFor="let pwinditem of powerWindowOptions" [value]="pwinditem" [selected]="pwinditem.name == '--All--'">{{pwinditem}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="navigation">Navigation</label>
        <select class="form-control" id="navigation" name="navigation" [(ngModel)]="model.navigation" required>
          <option *ngFor="let navitem of navigationOptions" [value]="navitem" [selected]="navitem.name == '--All--'">{{navitem}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="seats">Heated Seats</label>
        <select class="form-control" id="seats" name="seats" [(ngModel)]="model.heatedSeats" required>
          <option *ngFor="let seatitem of heatedSeatsOptions" [value]="seatitem" [selected]="seatitem.name == '--All--'">{{seatitem}}</option>
        </select>
      </div>
      <!--<div class="form-group">
    <label for="sunroof">Sun Roof</label>
    <input type="checkbox" id="sunroof" name="sunroof" [(ngModel)]="model.sunRoof" (ngModelChange)="onNgModelChange($event)">
    <label for="fourwheeldrive">Four Wheel Drive</label>
    <input type="checkbox" id="fourwheeldrive" name="fourwheeldrive" [(ngModel)]="model.fourWheelDrive">
    <label for="lowmiles">Low Miles</label>
    <input type="checkbox" id="lowmiles" name="lowmiles" [(ngModel)]="model.lowMiles">
    <label for="powerw">Power Windows</label>
    <input type="checkbox" id="powerw" name="powerw" [(ngModel)]="model.powerWindows">
    <label for="navi">Navigation</label>
    <input type="checkbox" id="navi" name="navi" [(ngModel)]="model.navigation">
    <label for="hseats">Heated Seats</label>
    <input type="checkbox" id="hseats" name="hseats" [(ngModel)]="model.heatedSeats">
  </div>-->
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
</div>

<div [hidden]="!submitted">
  <!--<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="vehicles">
    <thead>
      <tr>
        <th [style.display]="'none'">ID</th>
        <th>ID</th>
        <th>Make</th>
        <th>Year</th>
        <th>Color</th>
        <th>Price</th>
        <th>Mileage</th>
        <th>Sun Roof</th>
        <th>Four Wheel Drive</th>
        <th>Low Miles</th>
        <th>Power Windows</th>
        <th>Navigation</th>
        <th>Heated Seats</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vehicle of filteredVehicles">
        <td [style.display]="'none'">{{ vehicle._id }}</td>
        <td>{{ vehicle._id }}</td>
        <td>{{ vehicle.make }}</td>
        <td>{{ vehicle.year }}</td>
        <td>{{ vehicle.color }}</td>
        <td>{{ vehicle.price | currency }}</td>
        <td>{{ vehicle.mileage }}</td>
        <td>{{ vehicle.sunRoof | booleanLabel }}</td>
        <td>{{ vehicle.fourWheelDrive | booleanLabel }}</td>
        <td>{{ vehicle.lowMiles | booleanLabel }}</td>
        <td>{{ vehicle.powerWindows | booleanLabel }}</td>
        <td>{{ vehicle.navigation | booleanLabel }}</td>
        <td>{{ vehicle.heatedSeats | booleanLabel }}</td>
      </tr>
    </tbody>
  </table>-->
  <!--<mat-card class="card" *ngFor="let vehicle of filteredVehicles">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>{{vehicle.make}}</mat-card-title>
      <mat-card-subtitle>{{vehicle.year}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="cardContent">
      <div class="carImage">
        <img src="https://picsum.photos/seed/picsum/150" alt="Suppose to be a car image" title="{{ vehicle._id}}" />
      </div>
      <div class="features">
        <h6>Features</h6>
        <div class="feature_pnl1">
          <p><mat-checkbox disabled [(ngModel)]="vehicle.sunRoof"> Sun Roof</mat-checkbox></p>
          <p><mat-checkbox disabled [(ngModel)]="vehicle.fourWheelDrive">4WD</mat-checkbox></p>
          <p><mat-checkbox disabled [(ngModel)]="vehicle.lowMiles">Low Miles</mat-checkbox></p>
        </div>
        <div  class="feature_pnl2">
          <p><mat-checkbox disabled [(ngModel)]="vehicle.powerWindows">Power Windows</mat-checkbox></p>
          <p><mat-checkbox disabled [(ngModel)]="vehicle.navigation">Navigation</mat-checkbox></p>
          <p><mat-checkbox disabled [(ngModel)]="vehicle.heatedSeats">Heated Seats</mat-checkbox></p>
        </div>
      </div>
  <div>{{ vehicle._id }}</div>
  </mat-card-content>
  </mat-card>-->
    <mat-grid-list cols="3" gutterSize="5px" rowHeight="315px">
      <mat-grid-tile *ngFor="let vehicle of filteredVehicles">
        <mat-card class="card">
          <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>{{vehicle.make}}</mat-card-title>
            <mat-card-subtitle>{{vehicle.year}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="cardContent">
            <div class="carImage">
              <img src="https://picsum.photos/seed/picsum/150" alt="Suppose to be a car image" title="{{ vehicle._id}}" />
            </div>
            <div class="features">
              <h6>Features</h6>
              <div class="feature_pnl1">
                <p><mat-checkbox disabled [(ngModel)]="vehicle.sunRoof"> Sun Roof</mat-checkbox></p>
                <p><mat-checkbox disabled [(ngModel)]="vehicle.fourWheelDrive">4WD</mat-checkbox></p>
                <p><mat-checkbox disabled [(ngModel)]="vehicle.lowMiles">Low Miles</mat-checkbox></p>
              </div>
              <div class="feature_pnl2">
                <p><mat-checkbox disabled [(ngModel)]="vehicle.powerWindows">Power Windows</mat-checkbox></p>
                <p><mat-checkbox disabled [(ngModel)]="vehicle.navigation">Navigation</mat-checkbox></p>
                <p><mat-checkbox disabled [(ngModel)]="vehicle.heatedSeats">Heated Seats</mat-checkbox></p>
              </div>
            </div>
            <div>{{ vehicle._id }}</div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
 </div>
