<!--<p>vehicle-search-form works!</p>-->
<h1 id="tableLabel">Vehicles</h1>

<p *ngIf="!vehicles"><em>Loading...</em></p>
<!--<input type="text" [(ngModel)]="searchTerm" name="searchTerm" placeholder="Search">-->
<div class="container">
  <div>
    <form (ngSubmit)="onSubmit(vehicleForm)" #vehicleForm="ngForm">
      <div class="selections">
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Year</mat-label>
            <mat-select id="year" name="year" [(ngModel)]="model.year">
              <mat-option *ngFor="let yearitem of yearOptions" [value]="yearitem">{{yearitem}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Make</mat-label>
            <mat-select id="make" name="make" [(ngModel)]="model.make">
              <mat-option *ngFor="let makeitem of makeOptions" [value]="makeitem">{{makeitem}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Color</mat-label>
            <mat-select id="color" name="color" [(ngModel)]="model.color">
              <mat-option *ngFor="let coloritem of colorOptions" [value]="coloritem">{{coloritem}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Mileage</mat-label>
            <mat-select id="mileage" name="mileage" [(ngModel)]="model.mileage">
              <mat-option *ngFor="let mileageitem of mileageOptions" [value]="mileageitem">{{mileageitem}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Sun Roof</mat-label>
            <mat-select id="sunroof" name="sunroof" [(ngModel)]="model.sunRoof">
              <mat-option *ngFor="let sunroofitem of sunRoofOptions" [value]="sunroofitem">{{sunroofitem}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Four Wheel Drive</mat-label>
            <mat-select id="fwd" name="fwd" [(ngModel)]="model.fourWheelDrive">
              <mat-option *ngFor="let fwditem of fWDOptions" [value]="fwditem">{{fwditem}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Low Miles</mat-label>
            <mat-select id="lowmiles" name="lowmiles" [(ngModel)]="model.lowMiles">
              <mat-option *ngFor="let lowmilesitem of lowMilesOptions" [value]="lowmilesitem">{{lowmilesitem}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Power Windows</mat-label>
            <mat-select id="pwindows" name="pwindows" [(ngModel)]="model.powerWindows">
              <mat-option *ngFor="let pwinditem of powerWindowOptions" [value]="pwinditem">{{pwinditem}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Navigation</mat-label>
            <mat-select id="navigation" name="navigation" [(ngModel)]="model.navigation">
              <mat-option *ngFor="let navitem of navigationOptions" [value]="navitem">{{navitem}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Heated Seats</mat-label>
            <mat-select id="seats" name="seats" [(ngModel)]="model.heatedSeats">
              <mat-option *ngFor="let seatitem of heatedSeatsOptions" [value]="seatitem">{{seatitem}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <button type="submit" class="btn btn-success">Find your Vehicle</button>
        <!--<button type="reset" class="btn btn-success" (click)='onReset()'>Reset</button>-->
      </div>
    </form>
  </div>
</div>

<div [hidden]="!submitted" class="results">
  <!--<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="vehicles">
    <thead>
      <tr>
        <th [style.display]="'none'">ID</th>
        <th>ID</th>
        <th>Make</th>
        <th>Year</th>
        <th>Color</th>
        <th>Price</th>
        <th>Mileage</th>
        <th>Sun Roof</th>
        <th>Four Wheel Drive</th>
        <th>Low Miles</th>
        <th>Power Windows</th>
        <th>Navigation</th>
        <th>Heated Seats</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vehicle of filteredVehicles">
        <td [style.display]="'none'">{{ vehicle._id }}</td>
        <td>{{ vehicle._id }}</td>
        <td>{{ vehicle.make }}</td>
        <td>{{ vehicle.year }}</td>
        <td>{{ vehicle.color }}</td>
        <td>{{ vehicle.price | currency }}</td>
        <td>{{ vehicle.mileage }}</td>
        <td>{{ vehicle.sunRoof | booleanLabel }}</td>
        <td>{{ vehicle.fourWheelDrive | booleanLabel }}</td>
        <td>{{ vehicle.lowMiles | booleanLabel }}</td>
        <td>{{ vehicle.powerWindows | booleanLabel }}</td>
        <td>{{ vehicle.navigation | booleanLabel }}</td>
        <td>{{ vehicle.heatedSeats | booleanLabel }}</td>
      </tr>
    </tbody>
  </table>-->
  <mat-grid-list cols="4" rowHeight="315px">
    <mat-grid-tile *ngFor="let vehicle of filteredVehicles">
      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>{{vehicle.make}}</mat-card-title>
          <mat-card-subtitle>{{vehicle.year}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="cardContent">
          <div class="carImage">
            <img src="https://picsum.photos/seed/picsum/150" alt="Suppose to be a car image" title="{{ vehicle._id}}" />
          </div>
          <div class="features">
            <h6>Features</h6>
            <div class="feature_pnl1">
              <p><mat-checkbox disabled [(ngModel)]="vehicle.sunRoof"> Sun Roof</mat-checkbox></p>
              <p><mat-checkbox disabled [(ngModel)]="vehicle.fourWheelDrive">4WD</mat-checkbox></p>
              <p><mat-checkbox disabled [(ngModel)]="vehicle.lowMiles">Low Miles</mat-checkbox></p>
            </div>
            <div class="feature_pnl2">
              <p><mat-checkbox disabled [(ngModel)]="vehicle.powerWindows">Power Windows</mat-checkbox></p>
              <p><mat-checkbox disabled [(ngModel)]="vehicle.navigation">Navigation</mat-checkbox></p>
              <p><mat-checkbox disabled [(ngModel)]="vehicle.heatedSeats">Heated Seats</mat-checkbox></p>
            </div>
          </div>
          <div class="cardMileage">Mileage: {{ vehicle.mileage }}</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
